body 
{
  font-family: sans-serif; /*Mettre plusieurs polices*/
  margin: auto;
}

/*lien*/

a
{
	text-decoration: none;
}

#button
{
  color: white;
  font-weight: normal;
  border-style: solid;
  border-color: #FFDFA0;
  background-color: #FFDFA0;
  border-width: 2px;
  text-align: center;
}

#button:hover
{
  border-style: outset;
  border-width: 4px;
}


/*header*/

header a 
{
  	color: black;
}

/*bandeau promotion*/

.bandeau p 
{
    font-weight: bold;
    background-color: #FFDFA0;
    text-align: center;
    margin:0;
    padding:5px;
}

/*menu*/

header nav 
{
  position: sticky;
  top:0; 
  z-index:2;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items:center;
  background-color: white;
  margin: 0;
  padding:0;
}


header nav p 
{
	font-weight: normal;
  	margin: 1%;
}

header nav img
{
    width:30px;
    height:30px;
}

/*page d'accueil et qui sommes nous*/

header .fond
{
  background: url("Images/imagefondslogan.jpg") no-repeat;
  background-size: 100% 100%;
  text-align: center;
  height: 600px;
  font-weight:bold;
}

.fond div.texte_accueil
{
  position: relative;
  top:25%;
}

#promotion 
{
  position: relative;
  left: 20%;
  width: 60%;
  overflow: hidden;
}

#promotion figure 
{
  position: relative; 
  width: 200%;
  margin: 0;
  font-size: 0;
  animation: 10s slidy infinite;
}

#promotion figure img
{
  width: 50%;
  height: 250px;
}

@keyframes slidy 
{
  0% { left: 0%; }
  45% { left: 0%; }
  50% { left: -100%; }
  95% { left: -100%; }
  100% { left: 0%; }
}

.presentation div, .bloc-nom
{
	display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    width:60%;
    position:relative;
    left:20%;
    flex-wrap:wrap;
}

.presentation img, .bloc-nom img
{
    max-width: 520px;
    border-radius: 200px;
}

.presentation p, .bloc-nom p
{
    text-align: center;
    flex: 1;
    min-width: 200px;
    margin: 20px;
    align-items: center;
    display: flex;
    border-bottom: solid;
    border-color: #FFDFA0;

}

main#quisommesnous div:last-child img
{
	order:1;
}

/*page recherche*/

main#recherche
{
    background: url("Images/image_recherche.jpg") no-repeat;
}

.resultat_recherche 
{
  display: flex;
  flex-wrap: wrap;
  width:80%;
  justify-content:center;
  position: relative;
  left: 10%;
  top:250px;

}
.resultat_recherche img
{
    max-height: 400px;
    border-style: solid;
    border-radius: 100px;
    border-color: #FFDFA0;
    border-width: 15px;
    max-width: 100%;
}

.bloc p:hover
{
  border-bottom-style: solid;
  border-color: #FFDFA0;
}

.bloc p:hover::after
{
  content: " / Rupture de stock";
  color: red;
  font-weight: bold;
}

.bloc:first-child p:hover::after
{
  display: none;
}

.bloc 
{
        margin: 10px;
}

.bloc p
{
  text-align: center;
}

.resultat_recherche img:hover
{
  border-style: ridge;
  filter: grayscale(1);
}

.resultat_recherche .bloc:first-child img:hover
{
  filter: grayscale(0);
}

main#recherche #place 
{
  height: 250px;
}

/*page produit*/

#produit 
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  position: relative;
  left: 15%;
  margin-bottom: 10px;
  margin-top: 10px;
  
}

#produit div:first-child
{
  display: flex;
  flex-direction: column;
}

#produit img 
{
  border-style: solid;
  border-color: #FFDFA0;
  border-width: 10px;
  border-radius: 50%;
  max-height: 350px;
  width: 100%;
}

#produit div p
{
  text-align: center;
  font-weight: bold;
}

#produit > div:first-child p:hover
{
  border-bottom-style: solid;
  border-color: #FFDFA0;
}

#produit > div:first-child p:hover::after
{
  content: " / 299€99";
  color: #FFDFA0;
}

#produit .description
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

#produit td, #produit th
{
  border-style: groove;
}


#produit textarea
{
  width: 100%;
  height: 100px;
  border-style: outset;
  border-color: #FFDFA0;
  border-width: 4px;
  margin-top: 100px;
}

/*page commande*/

#commande
{
	display: flex;
  justify-content: center;
	align-items: center;
	flex-wrap: wrap;

}

#commande img
{
	border-style: solid;
	border-width: 10px;
	border-color: #FFDFA0;
	border-radius: 200px;
	max-width: 250px;
	margin-right: 5px;
}

#commande form
{
  display: flex;
  flex-direction: column;
  align-items: center;
	width: 500px;
}

#commande form table
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#commande form tr:nth-child(8) input,#commande form tr:nth-child(9) input
{
  width: 25px;
}

main#commande #place 
{
  height: 400px;
}

/*page validation de commande*/

main#validation_commande
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 600px;
}

main#validation_commande img
{
	max-width: 200px;
	border-radius: 200px;
}

#validation_commande a
{
	color: #FFA700C9;
}


/*footer*/

footer
{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  text-align: center;
  background-color: black;
  color:white;
}

footer p
{
  margin-bottom: 0;
}

footer nav#footer_1
{
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 margin-bottom: 25px;
}

footer nav#footer_2 div
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

footer nav#footer_2 img
{
  margin: 10px;
}

footer a
{
  text-decoration: none;
  color: rgb(240, 193, 99);
}

footer nav a /*Pour enlever la couleur dans le menu du footer*/
{
  color: white;
}

footer>p
{
  display: flex;
  justify-content: center;
  width: 100%;
}

footer>p a
{
  order:-1;
  margin-right: 5px;
}

/*Adaptation au média*/

@media (max-width: 375px) and (max-height: 812px)
{
  #produit
  {
    width: 100%;
    left: 0%;
  }

  #produit img
  {
    width: 90%;
    margin: 10px;
  }
}

@media (max-width: 774px)
{
  #commande
  {
    margin-top: 10px; 
  }
}

@media (max-width: 800px)
{
  #promotion
  {
    left: 0%;
    width: 100%;
  }

  .presentation img, .bloc-nom img
{
    max-width: 200px;
}
}