body {
  font-family: sans-serif; /*Mettre plusieurs polices*/
  margin: auto;
  max-width: 1280px;
}

header p 
{
  text-align: center;
  font-weight: bold;
  background-color: #FFDFA0;
  margin:0;
  padding: 5px;
}

menu
{
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  background-color: #FFDFA0;
}

menu p 
{
  margin: 1%;
}

footer
{
  text-align: center;

}

footer a
{
  text-decoration: none;
  color: rgb(240, 193, 99);
}


/*
.menu {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.menu a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.menu a:hover {
  color: #ffffff;
}

*/