body {
  font-family: sans-serif; /*Mettre plusieurs polices*/
  margin: auto;
}

header
{
  background: url("Images/imagefondslogan.jpg") no-repeat;
  background-size: 100% 100%;
  text-align: center;
  height: 600px;
  font-weight:bold;
}

header p
{
    /*modifier couleur ou opacitÃ©*/
}

.bandeau p 
{
    font-weight: bold;
    background-color: #FFDFA0;
    text-align: center;
    margin:0;
    padding:5px;
}

menu
{
  position: sticky;
  top:0; 
  z-index:2;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items:center;
  background-color: white;
  margin: 0;
  padding:0;
}

menu p 
{
	font-weight: normal;
  	margin: 1%;
}

menu img
{
    width:30px;
    height:30px;
}


header div
{
  position: relative;
  top:25%;
}

a /*précision ???*/
{
	text-decoration: none;
  	color: black;
}

.promotion
{
    display: flex;
}

.promotion img:first-child
{
    order:1;
}

.presentation div
{
	display: flex;
    margin:5px;
    width:60%;
    position:relative;
    left:20%;
    flex-wrap:wrap;
}

.presentation div:first-child
{
    border-bottom:none; /*Pour ne pas doubler la bordure*/
}

.presentation img 
{
    max-width: 520px;
    max-height: 470px;
    border-radius: 200px;
}

.presentation p {
    text-align: center;
    flex: 1;
    min-width: 200px;
    margin: 20px;
    align-items: center;
    display: flex;
    border-bottom: solid;
    border-color: #FFDFA0;

}

.resultat_recherche img
{
    max-height: 400px;
    border-style: solid;
    border-radius: 100px;
    border-color: #FFDFA0;
    border-width: 20px;
    max-width: 350px;
}

.resultat_recherche /*images a modifier pour quelle ai la meme taille*/
{
  display: flex;
  flex-wrap: wrap;
}

.bloc
{
  margin: 10px;
}

.bloc p
{
  text-align: center;
}

.resultat_recherche img:hover
{
  border-style: ridge;
  filter: grayscale(1);
}

.resultat_recherche .bloc:first-child img:hover
{
  filter: grayscale(0);
}



footer
{
  text-align: center;
  background-color: gray;

}

footer nav 
{
 display: flex;
 margin-left: 20px;
 flex-direction: column;
 align-items: flex-start;
}

footer p
{
  margin-bottom: 0;
}

footer a
{
  text-decoration: none;
  color: rgb(240, 193, 99);
}

nav a /*Pour enlever la couleur dans le menu du footer*/
{
  color: black;
}

/*

.menu a:hover {
  color: #ffffff;
}

*/